
/* Colors */
:root {
/* Primary */
--cyan: hsl(179, 62%, 43%);
--bright-yellow: hsl(71, 73%, 54%);

/* Neutral */
--light-gray: hsl(204, 43%, 93%);
--grayish-blue: hsl(218, 22%, 67%);
}

/* ==========================================================================
  Reset
   ========================================================================== */

/**
 * Remove anchor text-decoration
 */ 

a {
	text-decoration: none;
}

/**
 * Remove list-style
 */ 

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	
	font-weight: normal;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  background-color: var(--light-gray);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  max-width: 37.5rem;
  display: grid;
  grid-template-areas:
		"contents contents"
		"subscription why-us"
		;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contents {
  background-color: #fff;
  grid-area: contents;
  border-radius: 0.625rem 0.625rem 0 0;
}

.contents h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--cyan);
  padding: 2.1875rem 0 0 2.1875rem;
}

.contents h2 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--bright-yellow);
  padding: 1.25rem 0 0 2.1875rem;
}

.contents p {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--grayish-blue);
  padding: 0.625rem 4.0625rem 0 2.1875rem;
  margin-bottom: 1.875rem;
}

.subscription {
  background-color: rgb(43, 179, 177);
  grid-area: subscription;
  height: 16.25rem;
  border-radius: 0 0 0 0.625rem;
}

.subscription h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin-left: 2.1875rem;
  margin-top: 2.1875rem;
}

.subscription p {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(183, 241, 243);
  margin: 0 2.1875rem 2.1875rem 2.1875rem;
}

.subscription .price {
  font-weight: 700;
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 1.25rem 0 0.625rem 2.1875rem;
}

.subscription span {
  font-size: 1rem;
  color: rgb(150, 208, 209);
}

.subscription a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 2.8125rem;
  margin: 0 0 0 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--bright-yellow);
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.subscription a:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: var(--bright-yellow);
  transform: translateY(-7px);
}

.why-us {
  background-color: rgb(74, 190, 189);
  grid-area: why-us;
  height: 16.25rem;
  border-radius: 0 0 0.625rem 0;
}

.why-us h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin-left: 2.1875rem;
  margin-top: 2.1875rem;
}

.why-us p {
  width: 12.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-left: 2.1875rem;
  color: rgb(183, 241, 243);
}

.attribution {
  margin-top: 1.25rem;
  font-size: 0.8125rem; 
  text-align: center; 
  }
.attribution a { 
  color: rgb(43, 179, 177); 
  }

  @media (max-width: 730px) {
    main {
      justify-content: center;
      grid-template-areas:
		"contents"
		"subscription"
    "why-us"
		;
    margin-top: 100px;
  }

  .subscription {
    border-radius: 0;
  }

  .subscription a {
  width: 28.4375rem;
}

.why-us {
  height: 12.5rem;
  border-radius: 0 0 0.625rem 0.625rem;
}

.why-us p {
  width: 25rem;
}

  }

  @media (max-width: 530px) {

    main {
      margin-top: 100px;
    }
    
    .contents {
      width: 20rem;
    }

    .subscription {
    width: 20rem;
    border-radius: 0;
  }

  .subscription a {
  width: 15.625rem;
}

.why-us {
  width: 20rem;
  border-radius: 0 0 0.625rem 0.625rem;
}

.why-us p {
  width: 15.625rem;
}
  }